.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Overrides ----------------  */

body {
  background-color: whitesmoke !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

body .infoHeader, .ant-table, .inputSection, .ant-input{
  font-weight: 300;
  font-size: .8rem !important;
}

.inputSection {
  margin-bottom: 20px;
}

.infoHeader {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}

.infoHeader p {
  text-align: right;
}

.currencyTable th, td{
  text-align: center !important;
}

.tableContainer {
  margin: auto;
  width: 100% !important;
}

.tableCard {
  width: 100%;
  background: none !important;
  border: none !important;
}

* .glass {
  position:relative;
  box-shadow: 20px 20px 40px rgba(0,0,0,0.2);
  border-radius: 15px;
  background-color: rgba(218, 218, 218, 0.5);
  overflow: hidden;
  justify-content: center;
  border-top: 1px solid rgba(225,225,225,0.5);
  border-left: 1px solid rgba(225,225,225,0.5);
  backdrop-filter: blur(40px);
  padding: 20px;
  align-content: center;
}

/* Responsive ------ */

@media screen and (max-width: 700px) {
  html, .inputSection {
    font-size: 80%;
  }
}